cap-widget {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  background: transparent !important;
}

.wpforms-field-cap-captcha-row {
	text-align: left !important;
	justify-content: flex-start !important;
}

.wpforms-field-cap-captcha-row cap-widget {
	display: inline-block;
}


